


.management .cars_management{
margin-top:120px !important;
}

.management .cars_management .table .thead-dark{
    background-color: black;
    color: aliceblue;
    height: 50px;
    line-height: 2;
    border-radius: 58px;
}
.management .cars_management .table tbody{
    background-color: white;
    border-radius: 58px;
    font-size: 14px;
}
.management .cars_management .table tbody button{
    font-size: 14px;
}

.management .add-car-btn {
    background-color: #00f900;
    margin-bottom: 10px;
}

.management .title p {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #e1e1e1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.btn-delete{

}

.scrollme {
    max-width: 1300px;
     overflow-x: auto;
  }
.scrollme table{
    white-space: nowrap;
  }
  /* .scrollme {
    overflow-x: auto;
} */
  /* .table-responsive {
    max-width: 1200px;
    overflow: auto;
    display:inline-block;
  } */
.management .cars_management .table tr:first-child td:first-child { border-top-left-radius: 10px; }
/**************************************/

.management .view_order tbody tr{
    line-height: 5;
}
.management .modal .modal-footer .btn-primary{
 background-color: #00f900;
 border-color: #00f900;
 color: black;
}
.management .modal .modal-footer .btn-primary:hover{
 background-color: #11ac11;
 border-color: #11ac11;
}
.modal-header .btn-close{
    margin: 0;
}